body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f4f8;
}

.page {
    display: none;
    padding: 40px;
}

.active {
    display: block;
}

textarea {
    width: 60%;
    height: 100px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}
#reactionBox {
    width: 300px;
    height: 150px;
    background-color: red;
    margin: 20px auto;
}